#page-login-index.moove-login {
    margin-left: 0;

    #page {
        padding: 0;

        #page-content {
            margin: 0;

            #maincontent {
                height: 0;
            }
        }
    }

    .login-content {
        background-color: #fff;
        width: 520px;
        height: 100vh;
        margin: 0 auto;
        padding: 80px 32px 0 32px;

        .logo {
            text-align: center;
            margin-bottom: 2rem;
        }

        #username,
        #password {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            height: 60px;

            &:focus {
                border-color: #f5a623;
                -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 166, 35, 0.5);
                box-shadow: 0 0 0 0.2rem rgba(245, 166, 35, 0.5);
            }
        }

        #username {
            margin-bottom: 15px;
        }

        .forgotpassword {
            text-align: right;
            margin: .5rem 0 .5rem 0;

            a {
                color: #39393a;
            }
        }

        #loginbtn {
            background-color: #000000;
            border: none;
            color: #fff20a;
            padding: 1rem .75rem;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        .cookiesenabled {
            text-align: center;
            margin-top: 1rem;
            color: #39393a;
            background-color: #f2f2f2;
            padding: 4px 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        .guestblock {
            p {
                color: #39393a;
                font-weight: 700;
                margin-top: 2rem;
                text-align: center;
            }

            .btn-guest {
                padding: 1rem .75rem;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

                border: 1px solid #e5e5e5;
                box-sizing: border-box;
                box-shadow: 0 2px 4px rgba(159, 159, 159, 0.5);
            }
        }
    }

    #page-wrapper {
        padding-bottom: 0;

        #page {
            margin-top: 0;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }

        &::after {
            min-height: 0;
        }
    }
}

#page-login-signup {
    margin-left: 0;
    #page-wrapper {
        padding-bottom: 0;
        margin-bottom: 0;

        &:after {
            min-height: 0;
        }

        #page {
            margin-top: 0;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.potentialidplist .potentialidp {
    margin-bottom: 5px;
}

#page-login-signup,
#page-login-index.moove-login {
    .plugins_standard_footer_html {
        display: none;
    }
}

@media (min-width: 1920px) {
    #page-login-index.moove-login .login-content {
        padding-top: 200px;
    }
}

@include media-breakpoint-down(sm) {
    .login-content {
        width: calc(100% - 40px) !important;
        margin: 20px auto !important;
        padding: 15px !important;
        height: calc(100vh - 40px) !important;

        .logo {
            margin: 1rem 0 !important;
        }

        #username,
        #password {
            height: 50px !important;
        }

        #loginbtn,
        .guestblock .btn-guest {
            padding: .75rem .75rem !important;
        }
    }
}